body{
    margin: 0%;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #020e28;
    color: white;
    box-sizing: border-box;
    height: 100%
}
.layout{
    width: 100%;
    height: 100%;
    border: 7px solid rgb(23, 153, 213);
}
.container{
    margin-top: 10px;
}
.container,.container2,.container3{
    width: 100%;
    display: flex;
}
.part1,.part3,.part5{
    height:300px;
    width: 40%;
    flex: 1;
    margin-left: 20px;
}
.part1 :last-child{
    margin-top: 95px;
    margin-bottom: 20px;
    display: none;
}
.part2 hr{
    margin-top: 80px;
    margin-bottom: 20px;
    display: none;
}
.part2,.part4,.part6{
    height: 300px;
    margin-left: 30px;
    width: 40%;
    flex:1;
}
.container p, li{
    text-transform: capitalize;
    letter-spacing: 1.7px;
    line-height: 37px;
    margin-left: 20px;
}
b{
    color: aqua;
}

header{
    color: rgb(67, 143, 236);
   font-size: 23px;
}
@media screen and (max-width:750px){
    .layout{
        width: 800px;
        border: 5px solid rgb(23, 153, 213);
        padding-right: 25px;
    }
    .container,.container2,.container3{
        display: block;
        margin-right: 10px;
    }
    .part1,.part3,.part5{
        margin-left: 30px;
    }
    .part1,.part3,.part5,.part2,.part4,.part6{
        width: 100%;
        height: 200px;
        margin-bottom: 40px;
    }
    .part3{
        height: 250px;
    }
    .part5{
        height: 160px;
    }
}
@media screen and (max-width:500px){
     body{
        max-height: 1500px;
        font-size: 21px;
     }
     
     header{
        font-size: 31px;
     }
}
