body{
    margin: 0%;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #020e28;
    color: white;
    box-sizing: border-box;
}
div ul{
    text-decoration: none;
    display: flex;
    padding: 20px 10px;
    column-gap: 40px;
    margin-left: 0;
    margin-right: 10px;
    border-radius: 12px;
    text-decoration: none;
}
div ul li{
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;;
    margin-right: 79px;
    transition: .4s;
}

 i{
    margin-right: 50px;
    margin-top: 4px;
    font-size: 20px;
    color: white;
    position: relative;
    cursor: pointer;
}
i:hover{
    color: aqua;
}
div .part2{
    display: flex;
    font-weight: 800;
    font-size: 15px;
    justify-content: end;
}
.dot{
    font-weight: 1000;
}
ul .toogle{
    display: none;
}
div ul .logo{
    pointer-events: none;
    margin-left: 200px;
    font-size: 20px;
    font-weight: 600;
    flex: 3;
    text-transform: uppercase;
    align-items:start;
    
    color: rgb(252, 251, 251);
}
div ul li a{
    text-decoration: none;
    color: rgb(252, 251, 251);
}
div ul li a:hover,div ul li .active,div ul a i:hover{
    color: aqua;
}
.home{
    height: 100vh;
    display: flex;
    padding: 0 14.2%;
}
.homecontent{
    margin-top: 200px;
    max-width: 600px;
    line-height: 30px;
    letter-spacing: 1px;
}
.profile{
    margin-top: 200px;
    margin-left: 190px;
    height: fit-content;
}
.aravind{
    height: 350px;
    width: 170px;
    border-radius: 12px;
    opacity: 0.08;
    box-shadow: none;
    transition: 1.5s;
}
.aravind:hover{
    opacity: 0.7;
    transition: 1s;
}
b{
    color: aqua;
}
 a.button{
    text-decoration: none;
    color: white;
    margin-top: 90px;
    background-color: rgb(10, 196, 196);
    padding: 13px 30px;
    border: none;
    font-weight: bolder;
    border-radius: 25px;
    transition: 0.7s;

}
.button:hover{
    color: aqua;
    opacity: 0.8;
    box-shadow: 0 0 10px aqua;
    background-color: #081b29;
    border: 1px solid white;
}
.dropdown{
    height: 0;
    float: right;
    margin-right: 20px;
    line-height: 50px;
    top: 60px;
    display: none;
    width:200px;
    backdrop-filter: blur(15px);
    background: rgb(255, 255, 255,0.1);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    left: 60%;
    top: 10%;
    transform: height,2s cubic-bazier(0.175,0.885,0.32,1.275);
}
.dropdown li{
    display: flex;
    justify-content: center;
}


.dropdown li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
 
}
.dropdown li a:hover,.dropdown li .active{
    color: aqua;
}
@media (max-width:900px){
    div ul{
        gap: 20px;
        margin-right: 5px;
    }
    div ul li{
        margin-right: 50px;
    }
}
@media screen and (max-width:625px){
    body{
        width: 400px;
    }
}
@media screen and (max-width:643px){
    
    .home{
        width: 100%;
        display: block;
    }
    
    .profile{
        margin-left: 100px;
        margin-top: 100px;
        width: 200px;
    }
    .aravind{
        width: 200px;
    }
    .homecontent{
        font-size: 20px;
    }
}
@media screen and (max-width:500px){
    .profile{
        margin-left: 90px;
    }
    .logo{
        font-size:20px;
    }
    i{
        font-size:24px ;
        margin-right: 70px;
    }
    .homecontent{
        font-size: 25px;
        line-height: 40px;
    }

}
@media screen and (max-width:400px){
    div ul .logo{
        font-size: 25px;
    }
    .profile{
        margin-left: 80px;
    }
    .main{
        width: 100%;
    }
    i{
        font-size:25px ;
        margin-right: 70px;
    }
}

@media screen and (max-width:759px) {
    div ul li a,div ul li .active{
        display: none;
    }
   ul .toogle{
    display: block;
   }
   .dropdown{
    display: none;
   }
   .open{
    display: block;
    height: 200px;
}
}
